@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
}

/* Add this to your CSS file */
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.dynamic-gradient-bg {
  background: linear-gradient(-45deg, #1d3557, #457b9d, #a8dadc, #f1faee);
  background-size: 400% 400%;
  animation: gradient-animation 15s ease infinite;
}
